aiohttp==3.11.16
APScheduler==3.11.2
beautifulsoup4==4.13.3
brotli==1.2.0
cnlunar==0.2.4
httpx==0.28.1
jieba==0.42.1
ncatbot==3.0.6
networkx==3.6
onnxruntime==1.27.0
PicImageSearch==3.12.4
pillow==12.0.0
PixivPy-Async==1.2.14
playwright==1.42.0
prompt_toolkit==3.0.52
py7zr==0.22.0
pytest==9.1.1
python-frontmatter==1.1.0
python-louvain==0.16
PyYAML==6.0.3
rapidocr==3.9.0
requests==2.32.5
rich==14.3.3
ruamel.yaml==0.18.10
tavily-python==0.7.23
tiktoken==0.12.0
tzlocal==5.3.1
websockets==10.4
zstandard==0.23.0
